<h2>Nova Categoria</h2>
<form action="/<%= @acess %>/novaCategoria" method="post">
  Nome: <input name="nome" id="nome" type="text">
  <button class="btn btn-primary" type="submit" value="Submit">Criar</button>
</form>
<a href="/<%= @acess %>/categoria"><button class="btn btn-primary" type="submit">Voltar</button></a>
