<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li class="active"><a href="/graficos">Gráficos</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScOD4nMiGEa56j58nTx3A-sNttsWzdBV3djx7OEIhBWplCKzQ/viewform?c=0&w=1">Validação</a></li>
    </ul>
  </div>
</nav>

<div class="header-general">
</div>

<div class="text-center" style="padding-bottom: 10px;">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
      <div class="row">
        <h2>Titulo</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra vel nisl ac sodales. Suspendisse scelerisque risus arcu, non ornare turpis hendrerit vehicula. Pellentesque in aliquet orci, non venenatis odio. Nulla posuere gravida mauris vel ullamcorper. Integer et massa quis mauris placerat sodales id a urna. Cras in dignissim risus. Morbi ligula eros, convallis vitae enim vitae, iaculis maximus massa. Vestibulum eleifend accumsan sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id elit ultricies, imperdiet nulla et, cursus arcu. Suspendisse potenti. Sed blandit lorem sit amet elit blandit aliquet. Mauris consequat vitae leo at rutrum. Quisque et ante tincidunt, posuere erat non, eleifend orci. Aliquam efficitur, ipsum in venenatis varius, sapien velit pulvinar leo, eget bibendum nunc sem ac odio. Integer ut lobortis tortor.
        </p>
      </div>
    <div class="graphics-button">
      <a href="/graficos/dsm">
        <button class="btn-experimenteJa">DSM</button>
      </a>
    </div>
    <div class="graphics-button" style="margin-bottom:30px;">
      <a href="/graficos/bases_externas">
        <button class="btn-experimenteJa">Bases Externas</button>
      </a>
    </div>
  </div>
</div>
