<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Home</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text-actived" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
    </div>
  </div>
</header>
<h1>PAGINA DE GRAFICOS</h1>
