<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Página inicial</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text-actived" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="#" class="header-button-text" style="text-decoration:none"><b>Validação</b></a>
    </div>
  </div>
</header>
<div class="text-center">
  <h2>Top 5 Transtornos mais pesquisados</h2>
  <% @transtornosHashNome.first(5).each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Transtornos menos pesquisados</h2>
  <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas mais pesquisados</h2>
  <% @sintomasHashNome.first(5).each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas menos pesquisados</h2>
  <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
</div>
