<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse header-background-color header-text-prop">
    <ul class="nav navbar-nav">
      <li><a href="/">Página inicial</a></li>
      <li class="active"><a href="/graphics">Gráficos</a></li>
      <li><a href="/info">Sobre</a></li>
      <li><a href="#">Validação</a></li>
    </ul>
  </div>
</nav>


<div class="text-center">
  <h2>Top 5 Transtornos mais pesquisados</h2>
  <% @transtornosHashNome.first(5).each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Transtornos menos pesquisados</h2>
  <% @transtornosHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas mais pesquisados</h2>
  <% @sintomasHashNome.first(5).each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
  <br>
  <h2>Top 5 Sintomas menos pesquisados</h2>
  <% @sintomasHashNome.to_a.last(5).reverse.each do |x,y| %>
    <%= "#{x} - apareceu: #{y}" %>
    <br>
  <% end %>
</div>
