<div class="header-home">
  <div class="col-lg-offset-2 col-lg-2 header-button">
    <a href="/" class="header-button-text-actived" style="text-decoration:none"><b>Home</b></a>
  </div>

  <div class="col-lg-2 header-button">
    <a href="/graphics" class="header-button-text" style="text-decoration:none"><b>Gráficos</b></a>
  </div>

  <div class="col-lg-2 header-button">
    <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
  </div>
</div>

<!-- MODAL PESQUISA -->

<div class="modal fade" id="ModalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="ModalSearchTitle">Insira os sintomas</h5>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>
</div>

<!-- BODY -->

<div class="home-experimenteJa">
<button class="btn-experimenteJa" data-toggle="modal" data-target="#ModalSearch">Experimente Já!</button>
</div>

<div class="home-explication">
<h1>Como funciona?</h1>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("usuario.png", :alt => "Imagem de um usuário no site", :class => "explication-usuario") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>

    <div class="col-lg-4">
      <%= image_tag("livro.jpg", :alt => "Imagem de um livro", :class => "explication-livro") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>

    <div class="col-lg-4">
      <%= image_tag("pesquisa.jpg", :alt => "Imagem do site pesquisando", :class => "explication-pesquisa") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>
  </div>

</div>
