<div class="header-home">
  <div class="col-lg-offset-2 col-lg-2 header-button">
    <a href="#" class="header-button-text"><b>Home</b></a>
  </div>

  <div class="col-lg-2 header-button">
    <a href="#" class="header-button-text"><b>Gráficos</b></a>
  </div>

  <div class="col-lg-2 header-button">
    <a href="#" class="header-button-text"><b>Sobre</b></a>
  </div>
</div>

<div class="home-experimenteJa">
<button class="btn-experimenteJa">Experimente Já!</button>
</div>

<div class="home-explication">
<h1>Como funciona?</h1>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("usuario.png", :alt => "Imagem de um usuário no site", :class => "explication-usuario") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>

    <div class="col-lg-4">
      <%= image_tag("livro.jpg", :alt => "Imagem de um livro", :class => "explication-livro") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>

    <div class="col-lg-4">
      <%= image_tag("pesquisa.jpg", :alt => "Imagem do site pesquisando", :class => "explication-pesquisa") %>
      <br />
      <div class="explication-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      </div>
    </div>
  </div>

</div>

<div class="home-footer">
  <p>DSM Search - Copyright 2017, Todos os direitos reservados</p>
</div>
