<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Home</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text-actived" style="text-decoration:none"><b>Sobre</b></a>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 info-style">
    <h3 class="text-center" style="padding-bottom:10px;"><b>Sobre Nós</b></h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
     totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
       sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
         tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
          quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
           Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
            vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
          </p>
  </div>
</div>
