<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Home</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
    </div>
  </div>
</header>
    <% if @pesquisaDoenca != [] %>
      <% @pesquisaDoenca.each do |pD| %>
        <div class="row">
          <div class="col-lg-offset-3 col-lg-6 search-style">
            <div class="col-lg-10">
              <br>
              <b>Transtorno: </b><%= pD.nome %><br>
              <b>Sintomas:</b><br>
              <% @pesquisaSintoma.each do |chave,valor| %>
                <% if pD.id == chave%>
                  <% valor.each do |x|%>
                    <%= x.nome%>
                    <br>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-lg-2 search-style-page">
              Pagina no DSM-5<br>
              <div class="search-style-page-num">
                <%= pD.pagina %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4 search-style-none">
        <b><%= "Nenhuma doença encontrada!"%></b>
      </div>
    </div>
    <% end %>
