<header>
  <div class="header-general">
    <div class="col-lg-offset-2 col-lg-2 header-button">
      <a href="/" class="header-button-text" style="text-decoration:none"><b>Home</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/graphics" class="header-button-text" style="text-decoration:none"><b>Gráficos</b></a>
    </div>

    <div class="col-lg-2 header-button">
      <a href="/info" class="header-button-text" style="text-decoration:none"><b>Sobre</b></a>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 info-style">
    <h3 class="text-center" style="padding-bottom:10px;"><b>Pesquisa</b></h3>
    <%= @dados.nome %><br>
  </div>
</div>
