// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
  margin-bottom: 0px !important;
  border: none !important;
}
html, body {
    height: 100%;
    margin: 0;
}
.modal-scroll {
  height:400px;
  overflow:auto;
}
#resp {
    min-height: -webkit-calc(100% - 80px);
    min-height: -moz-calc(100% - 80px);
    min-height: calc(100% - 80px);
}
.header-img{
  background-image: url('http://i64.tinypic.com/2hcjcx3.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width: 100%;
  height: 380px;
}
.header-background-color{
  background-color: #1C4587;
  border-bottom: solid #8C8C8C 2px !important;
}
//Edição do padrão de css do header boostrap
.navbar-header{
  background-color: #1C4587 !important;
}
.navbar-default .navbar-toggle{
  background-color: #1C4587 !important;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff !important;
}
.header-text-prop{
  font-size: 20px;
  .navbar-nav > li > a{
    color: #fff !important;
  }
  .navbar-nav > .active > a{
    background-image: -webkit-linear-gradient(top,#617492 0,#1C4587 100%) !important;
    background-image: -o-linear-gradient(top,#617492 0,#1C4587 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#617492),to(#1C4587)) !important;
    background-image: linear-gradient(to bottom,#617492 0,#1C4587 100%) !important;
  }
}
//
.header-general{
  background-image: url('http://i64.tinypic.com/2hcjcx3.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width: 100%;
  height: 180px;
  border-bottom: solid #8C8C8C 2px;
}
.header-text{
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 1px 2px black;
  padding-top: 130px;
}
.home-experimenteJa{
  background-color: #1C4587;
  width: 100%;
  height: 100px;
  text-align: center;
}
.btn-experimenteJa {
  margin: 16px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  background: #1C4587;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn-experimenteJa:hover {
  background-image: -webkit-linear-gradient(top, #476DAB, #1C4587);
  background-image: -moz-linear-gradient(top, #476DAB, #1C4587);
  background-image: -ms-linear-gradient(top, #476DAB, #1C4587);
  background-image: -o-linear-gradient(top, #476DAB, #1C4587);
  background-image: linear-gradient(to bottom, #476DAB, #1C4587);
  text-decoration: none;
}
.home-explication{
  background-color: #fff;
  width: 100%;
  height: 400px;
  text-align: center;
  h1{
    padding-top: 35px;
    margin-top: 0;
  }
}
.explication-usuario{
  padding-top: 5px;
  padding-bottom: 5px;
}
.explication-livro{
  padding-top: 75px;
  padding-bottom: 20px;
}
.explication-pesquisa{
  padding-top: 46px;
  padding-bottom: 20px;
}
.explication-text{
  width: 77%;
  padding-left: 15%;
}
.footer-style{
  background-color: #1C4587;
  color: #fff;
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  clear:both;
}
.info-style{
  background-color: #EFEFEF;
  border-radius: 50px;
  border: solid #8C8C8C 1px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
}
.search-style{
  background-color: #EFEFEF;
  border-radius: 30px;
  border: solid #8C8C8C 1px;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-bottom: 20px;
  padding-top: 0px;
}
.search-style-page{
  background-color: #4272C0;
  margin-top: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  color: #FFF;
}
.search-style-page-num{
  font-size: 120%;
}
.search-style-none{
  text-align: center;
  background-color: #EFEFEF;
  border-radius: 30px;
  border: solid #8C8C8C 1px;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.graphics-generate{
  width: 30px !important;
}
.graphics-generate-icon{
  width: 8px;
  height: 8px;
  margin-top: 5px;
  margin-bottom: -14px;
}
.graphics-generate-color-1{
  background-color: blue;
}
.graphics-generate-color-2{
  background-color: red;
}
.graphics-generate-color-3{
  background-color: green;
}
.graphics-generate-color-4{
  background-color: purple;
}
.graphics-generate-color-5{
  background-color: orange;
}
.graphics-generate-text{
  padding-left: 14px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  cursor: pointer;
}
.graphics-generate-text:hover{
  overflow: visible;
  white-space: normal;
  height:auto;
}

.graphics-generate-numbers{
  padding-top: 5px;
  padding-right: 30px !important;
}

.graphics-generate-hr-100{
  margin-top: 1px;
}
.graphics-generate-hr-50{
  margin-top: 49px;
}

.graphics-generate-hr-0{
  margin-top: 48px;
}
.graphics-generate-hr{
  background-color: black;
  height: 1px;
  width: 170px;
  margin-bottom: 0px;
  margin-left: 40px;
}
.graphics-button{
  width: 100%;
  height: 100px;
  text-align: center;
}
.external-base-graphic{
  height: 200px;
}
.external-base-graphic-years{
  border-top: 3px solid black;
}
.external-base-graphic-porcentage{
  height: 200px;
  border-right: 3px solid black;
}
.external-base-graphic-bars{
  width: 20%;
  background-color: red;
  margin-right: 5%;
}
